name: groceries_grok
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  provider: ^6.1.2  # For state management
  shared_preferences: ^2.3.1  # For local cart storage
  intl: ^0.19.0  # For formatting
  pin_code_fields: ^8.0.1  # For OTP input
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
